<div class="nav-container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <p class="navbar-text"><%= @merchant.name %></p>
    <ul class="nav navbar-nav">
      <li><%= link_to 'Dashboard', merchant_dashboard_index_path, class: 'link_1', style: 'pull-right' %>
      <li><%= link_to 'Items', merchant_items_path, class: 'link_1', style: 'pull-right' %>
      <li><%= link_to 'Invoices', merchant_invoices_path, class: 'link_1', style: 'pull-right' %>
      <li><%= link_to 'Bulk Discounts', merchant_bulk_discounts_path, class: 'link_1', style: 'pull-right' %>
    </ul>
  </nav>
</div>

<body>
  <div class="row">
    <p class='col-12'><%= @merchant.name %>'s Bulk Discounts</p>
  </div>

  <p><%= link_to "Create a New Bulk Discount", new_merchant_bulk_discount_path(@merchant.id) %></p>

  <div class="row">
    <p class='mr-auto col-sm-5'>Bulk Discounts</p>
    <% @merchant.bulk_discounts.each do |bd| %>
      <div id="bd-<%= bd.id %>">
        <h4><%= link_to "Bulk Discount ##{bd.id}", merchant_bulk_discount_path(@merchant.id, bd.id) %></h4>
        <p>Quantity Threshold: <%= bd.quantity %></p>
        <p>Percentage Discount: <%= bd.percentage %>%</p>
        <%= link_to "Delete", "/merchant/#{@merchant.id}/bulk_discounts/#{bd.id}", method: :delete %><br>
      </div>
      <% end %>
  </div>

  <div class="row">
    <p class='mr-auto col-sm-5'>Next 3 Upcoming Holidays</p>
  </div>
  <li><%= api_holidays.name1 %> on <%= api_holidays.date1 %></li>
  <li><%= api_holidays.name2 %> on <%= api_holidays.date2 %></li>
  <li><%= api_holidays.name3 %> on <%= api_holidays.date3 %></li>

</body>
